*{margin: 0; padding: 0; background-repeat: no-repeat; box-sizing: border-box;} 
*::after,*::before{
    box-sizing: border-box;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}
ul,ol{list-style: none;}
a{color: inherit; text-decoration: none; display: block;}
button, input, select, option, textarea{
    border: 0;
    background-color: transparent;
}

/* header시작------------------------------ */
header{
    width: 100%;
    background-color: #fff;
    background-color: #fff;
    /* border-bottom: 2px solid #000; */
    position: fixed;
     z-index: 9999; 
}
header .wrap{
    width: 100%;
    max-width: 1320px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    padding: 22px 0;
}
header .wrap h1{
    font-size: 22px;
    line-height: 2;
}
header .wrap h1 a{}
header .wrap ul{
    display: flex;
}
header .wrap ul li{
    margin-left: 12px;
}
header .wrap ul li a{
    padding: 14px 18px;
}
header .wrap ul li a:hover{
    color: rgb(175 0 0);
    /* font-weight: 800; */
}
/* header끝------------------------------ */



/* banner시작------------------------------ */
.banner{
    width: 100%;
    background-color: rgb(175 0 0);
    padding-top: 96px;
    height: 100vh;
    /* border-bottom: 2px solid #000; */
    
}
.banner .wrap{
    width: 100%;
    margin: 0 auto;
    padding: 2px 0px;
    /* background-color: antiquewhite; */

    display: flex;
    justify-content: space-between;
}
.banner .wrap .left{
    width: 133%;
    /* background-color: aqua; */
    height: 760px;
    margin-top: 30px;
}
.banner .wrap .left .l-img{
    width: 514px;
    height: 582px;
    margin: 86px auto;
    background-color: antiquewhite;
    border-radius: 50% 50% 0 0;
    /* border: 2px solid #000; */

    background-image: url(../img/banner.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .wrap .right{
    width: 100%;
    /* background-color: black; */
    padding: 185px 50px;
    margin-top: 40px;
}
.banner .wrap .right .txt{
    /* background-color: #fff; */
}
.banner .wrap .right .txt h3{
    font-size: 55px;
    font-weight: 700;
    line-height: 1.13;
    margin: 44px 0;
    color: #fff;
}
.banner .wrap .right .txt p{
    font-size: 21px;
    padding-bottom: 40px;
    color: #fff;
}
.banner .wrap .right .btn{
    width: 160px;
    height: 54px;
    background-color: #fff;
    border-radius: 10px;
}
.banner .wrap .right .btn a{
    text-align: center;
    font-weight: 600;
    line-height: 54px;
}
.banner .wrap .right .btn a:hover{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}
/* banner끝------------------------------ */



/* s1시작------------------------------ */
.s1{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
    /* border-bottom: 2px solid #000; */
}
.s1 .wrap{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    /* background-color: rgb(47, 73, 73); */
}
.s1 .wrap .t-box{
    text-align: center;
    padding-top: 140px;
    padding-bottom: 50px;
}
.s1 .wrap .t-box h3{
    font-size: 50px;
    padding-bottom: 28px;
}
.s1 .wrap .t-box h4{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 26px;
    padding: 20px;
}
.s1 .wrap .t-box h4 p{}

.s1 .wrap .con{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    justify-content: space-between;

}
.s1 .wrap .con .box{
    width: 340px;
    background-color: rgb(175 0 0);
    text-align: center;
    padding: 36px;
    border-radius: 10px;
    /* border: 2px solid #000; */
}
.s1 .wrap .con .box .bimg{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 50%;
}
.s1 .wrap .con .box .btxt{
    color: #fff;
}
.s1 .wrap .con .box .btxt h5{
    font-size: 18px;
    padding-bottom: 10px;
}
.s1 .wrap .con .box .btxt p{
    font-weight: 200;
    font-size: 14px;
}
.s1 .wrap .btn{
    /* margin: 0 auto; */
}
.s1 .wrap .btn a{
    border: 2px solid #000;
    padding: 16px 30px;
    font-size: 14px;
    text-align: center;
    width: 128px;
    border-radius: 10px;
    font-weight: 500;
    margin: 52px auto;
}
.s1 .wrap .btn a:hover{
    background-color: #000;
    color: #fff;
}

/* s1끝------------------------------ */



/* s2시작------------------------------ */
.s2{
    width: 100%;
    background-color: #fff;
}
.s2 .wrap{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    /* background-color: #ae7070; */
    padding-bottom: 90px;
}
.s2 .wrap h3{
    text-align: center;
    font-size: 50px;
    padding-bottom: 28px;
    /* padding-top: 130px; */

    /* padding-top: 140px;  */
    margin-top: 155px;
}
.s2 .wrap .sub-title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 100px;
}
.s2 .wrap .con{}
/* box1시작 */
.s2 .wrap .con .box1{
    width: 100%;
    display: flex;
    padding-bottom: 55px;
}
.s2 .wrap .con .box1 .b-img{}
.s2 .wrap .con .box1 .b-img a{}
.s2 .wrap .con .box1 .b-img a img{
    width: 88%;
    border-radius: 20px;
}
.s2 .wrap .con .box1 .txt{
    padding-top: 270px;
}
.s2 .wrap .con .box1 .txt h4{
    font-size: 24px;
    padding-bottom: 10px;
}
.s2 .wrap .con .box1 .txt p{
    font-size: 14px;
    padding-bottom: 20px;
}
.s2 .wrap .con .box1 .txt .more{
    width: 144px;
    height: 60px;
    font-weight: 600;
}
.s2 .wrap .con .box1 .txt .more a{}
.s2 .wrap .con .box1 .txt .more a:hover{
    color: rgb(175 0 0);
    font-weight: 800;
}
/* box2시작 */
.s2 .wrap .con .box2{
    width: 100%;
    display: flex;
    padding-bottom: 55px;
}
.s2 .wrap .con .box2 .b-img{}
.s2 .wrap .con .box2 .b-img a{}
.s2 .wrap .con .box2 .b-img a img{
    border-radius: 20px;
}
.s2 .wrap .con .box2 .txt{
    padding-top: 270px;
    text-align: right;
    padding-right: 85px;
    padding-left: 85px;
}
.s2 .wrap .con .box2 .txt h4{
    font-size: 24px;
    padding-bottom: 10px;
    text-align: right;
}
.s2 .wrap .con .box2 .txt p{
    font-size: 15px;
    padding-bottom: 20px;
}
.s2 .wrap .con .box2 .txt .more{
    width: 144px;
    height: 60px;
    font-weight: 600;
    margin-left: 112px;
}
.s2 .wrap .con .box2 .txt .more a{
    /* margin-right: -136px; */
}
.s2 .wrap .con .box2 .txt .more a:hover{
    color: rgb(175 0 0);
    font-weight: 800;
}
/* box3시작 */
.s2 .wrap .con .box3{
    width: 100%;
    display: flex;
    padding-bottom: 55px;
}
.s2 .wrap .con .box3 .b-img{}
.s2 .wrap .con .box3 .b-img a{}
.s2 .wrap .con .box3 .b-img a img{
    width: 88%;
    border-radius: 20px;
}
.s2 .wrap .con .box3 .txt{
    padding-top: 270px;
}
.s2 .wrap .con .box3 .txt h4{
    font-size: 24px;
    padding-bottom: 10px;
}
.s2 .wrap .con .box3 .txt p{
    font-size: 15px;
    padding-bottom: 20px;
}
.s2 .wrap .con .box3 .txt .more{
    width: 144px;
    height: 60px;
    font-weight: 600;
}
.s2 .wrap .con .box3 .txt .more a{}
.s2 .wrap .con .box3 .txt .more a:hover{
    color: rgb(175 0 0);
    font-weight: 800;
}
/* s2끝------------------------------ */


/* s3시작------------------------------ */
.s3{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 2px solid #000; */
}
.s3 .wrap{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    /* background-color: rgb(47, 73, 73); */
}
.s3 .wrap .t-box{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 110px;
}
.s3 .wrap .t-box h3{
    font-size: 50px;
    padding-bottom: 28px;
}
.s3 .wrap .t-box h4{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 26px;
    padding: 20px;
}
.s3 .wrap .t-box h4 p{}

.s3 .wrap .con{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    justify-content: space-between;

}
.s3 .wrap .con .box{
    width: 340px;
    background-color: rgb(175 0 0);
    text-align: center;
    padding: 36px;
    border-radius: 10px;
    /* border: 2px solid #000; */
}
.s3 .wrap .con .box .bimg{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 50%;
}
.s3 .wrap .con .box .btxt{
    color: #fff;
}
.s3 .wrap .con .box .btxt h5{
    font-size: 18px;
    padding-bottom: 10px;
}
.s3 .wrap .con .box .btxt p{
    font-weight: 200;
    font-size: 14px;
}
.s3 .wrap .btn{
    /* margin: 0 auto; */
}
.s3 .wrap .btn a{
    /* border: 2px solid #000; */
    padding: 16px 30px;
    font-size: 14px;
    text-align: center;
    width: 128px;
    border-radius: 10px;
    font-weight: 500;
    margin: 52px auto;
}
.s3 .wrap .btn a:hover{
    background-color: #000;
    color: #fff;
}

/* s3끝------------------------------ */


footer{
    background-color:rgb(175 0 0);
    /* border-top: 2px solid #000; */
}
footer .wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
    padding: 85px 0;
}
footer .wrap .left{}
footer .wrap .left h4{
    font-size: 22px;
    padding-bottom: 10px;
    color: #fff;
}
footer .wrap .left p{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}




/* 테블릿 디어커리 */
@media (max-width: 1200px){

header .wrap{
    padding: 22px 30px;
}

.banner .wrap .left{
    margin-top: -10px;
}

.s1 .wrap .con{
    padding: 0 30px;
}

.s2 .wrap{
    padding: 0 30px;
}

.s3 .wrap{
    padding: 0 30px;
}

footer .wrap{
    padding: 85px 30px;
}



}




/* 모바일 디어커리 */
@media (max-width: 580px){
/* .wrap 중앙 정렬(로고 가운데 보이게) */
  header .wrap {
    display: flex;
    justify-content: center; /* 로고 중앙 */
    align-items: center;
    position: relative;
    padding: 12px 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
  }

  /* 기존 ul(헤더 메뉴)은 화면 상단에 있는 동안 보이지 않게(데스크톱 스타일 유지) */
  header .wrap > ul {
    display: none;
  }

  /* 로고 중앙 스타일 */
  header .wrap h1 {
    margin: 0;
    z-index: 1200;
    text-align: center;
  }
  header .wrap h1 a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
  }

  /* 햄버거 버튼 (동적으로 삽입됨) */
  .mobile-hamburger {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 1300;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-hamburger .bar,
  .mobile-hamburger .bar::before,
  .mobile-hamburger .bar::after {
    width: 22px;
    height: 2px;
    background: #111;
    display: block;
    border-radius: 2px;
    transition: transform .24s ease, opacity .24s ease;
    position: relative;
  }
  .mobile-hamburger .bar::before,
  .mobile-hamburger .bar::after{
    content: "";
    position: absolute;
    left: 0;
  }
  .mobile-hamburger .bar::before { top: -7px; }
  .mobile-hamburger .bar::after  { top: 7px; }

  /* 햄버거가 열렸을 때 X 모양 */
  .mobile-hamburger[aria-expanded="true"] .bar {
    background: transparent;
  }
  .mobile-hamburger[aria-expanded="true"] .bar::before {
    transform: translateY(7px) rotate(45deg);
  }
  .mobile-hamburger[aria-expanded="true"] .bar::after {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* 드로어(왼쪽 슬라이더) */
  .mobile-drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 82%;
    max-width: 320px;
    background: #fff;
    box-shadow: 2px 0 18px rgba(0,0,0,0.18);
    transform: translateX(-100%);
    transition: transform .28s cubic-bezier(.2,.8,.2,1);
    z-index: 1250;
    overflow-y: auto;
    padding: 72px 18px 20px 18px; /* 상단은 헤더 공간 확보 */
    box-sizing: border-box;
  }
  .mobile-drawer.open {
    transform: translateX(0);
  }

  /* close 버튼 inside drawer */
  .mobile-drawer .drawer-close {
    position: absolute;
    top: 10px;
    right: 12px;
    background: transparent;
    border: 0;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
  }

  /* 드로어 내부 ul 스타일 (기존 ul이 이동됨) */
  .mobile-drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mobile-drawer li {
    margin-bottom: 8px;
  }
  .mobile-drawer a {
    display: block;
    padding: 12px 8px;
    color: #111;
    text-decoration: none;
    font-size: 16px;
  }

  /* 드로어 오버레이 (뒤 어둡게) */
  .drawer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    opacity: 0;
    pointer-events: none;
    transition: opacity .28s ease;
    z-index: 1240;
  }
  .drawer-overlay.open {
    opacity: 1;
    pointer-events: auto;
  }

  /* 데스크탑 타입의 header 내부 요소 중 불필요한 것 있을 경우 적절히 숨김(예: 기존 버튼 등) */
  header .wrap .some-desktop-only {
    display: none;
  }

  /* (선택) 드로어 내부에서 현재 메뉴 강조 등 스타일 추가 가능 */
  .mobile-drawer a:hover {
    background: rgba(0,0,0,0.03);
  }








    /* ------------------------------------------------ */
.banner .wrap{
    position: relative;
}
.banner .wrap .left{
    width: 0;
    margin-top: 0;
} 
.banner .wrap .right{
    width: 100%;
    padding: 0;
    margin-top: 0;
}
.banner .wrap .right .txt h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 0;
}
.banner .wrap .right .txt p{
    text-align: center;
    padding-bottom: 0;
    padding-bottom: 20px;
    font-size: 14px;
}
.banner .wrap .right .btn{
    margin: 0 auto;
}
.s1 .wrap .con{
    display: block;
}
.s1 .wrap .con .box{
    margin: 0 auto;
    margin-bottom: 30px;
}
.s2{
    /* padding-top: 250px; */
    /* margin-top: -140px; */
    /* background-color: cyan; */
}
.s2 .wrap h3{
    /* padding: 0; */
    /* margin-top: 10px; */
    /* padding-top: 140px;
    margin-top: 0; */

     margin-top: 190px;
    padding-top: 0;  
}


.s1 .wrap .t-box h4{
    /* padding-top: 140px; */
    font-size: 14px;
}
.s1 .wrap .t-box p{
    font-size: 14px;
}
.s2 .wrap  p{
    font-size: 14px;
}
.s2 .wrap .sub-title{
    font-size: 14px;
    padding-top: 20px;
}
.s2 .wrap .con .box1{
    display: block;

    /* margin-bottom: 40px; */
}
.s2 .wrap .con .box1 .txt{
    text-align: center;
    padding-top: 0;
}
.s2 .wrap .con .box1 .b-img a img{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
}
.s2 .wrap .con .box1 .txt p{
    margin-bottom: -10px;
}

.s2 .wrap .con .box1 .txt .more{
    margin: 0 auto;
    
}
.banner .wrap .left .l-img{
    margin: 422px auto;
    width: 362px;
    height: 300px;
     
    position: absolute;
    left: 50%;
    right: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
}


.s2 .wrap .con .box2{
    display: block;
    position: relative;
    /* margin-bottom: 140px; */
    padding-bottom: 0px;

    /* padding-top: 50px; */
    display: flex;
    flex-direction: column-reverse;
}
.s2 .wrap .con .box2 .txt{
    text-align: center;
    padding-top: 0;
    position: absolute;
    top: 370px;
    right: 0;

    position: static;
    padding-top: 16px;
}
.s2 .wrap .con .box2 .b-img a img{
    margin: 0 auto;
    margin-bottom: 15px;
}
.s2 .wrap .con .box3 .txt{
    padding-top: 20px;
    text-align: center;
}
.s2 .wrap .con .box2 .txt h4{
    text-align: center;
}
.s2 .wrap .con .box2 .txt p{
    margin-bottom: -10px;
}

.s2 .wrap .con .box2 .txt .more{
    margin: 0 auto;
    margin-bottom: 55px;
}


.s2 .wrap .con .box3{
    display: block;
    padding-bottom: 0;
}
.s2 .wrap .con .box3 .b-img a img{
    width: 100%;
}
.s2 .wrap .con .box3 .txt .more{
    margin: 0 auto;
}
.s3 .wrap{
    
}
.s3 .wrap .t-box h4{
    font-size: 14px;
}
.s3 .wrap .t-box p{
    font-size: 14px;
}

.s2 .wrap .con .box3 .txt p{
    padding-bottom: 10px;
}

.s3 .wrap .con{
    display: block;
}
.s3 .wrap .con .box{
    margin: 0 auto;
}
.s3 .wrap .con .box{
    margin-bottom: 30px;
}
footer .wrap{
    margin-top: 530px;
}

}